<?php
$segments = request()->segments();
array_shift($segments);
array_pop($segments);
$uri = join('/', $segments);
?>
<div data-control="toolbar">
    <a href="<?= Backend::url($uri) ?>" class="btn btn-primary oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
        checked: $('.control-list').listWidget('getChecked')
    })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
        checked: $('.control-list').listWidget('getChecked')
    })"
            data-request="onRestore"
            data-request-confirm="<?= e(trans('planetadeleste.widgets::lang.trashed.restore_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('planetadeleste.widgets::lang.trashed.restore_selected')) ?>
    </button>
</div>
